@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins;
  --cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  margin-bottom: 5rem;
}

.headerContainer h2 {
  font-size: 2rem;
  color: var(--Dark-Violet);
  margin-left: 2rem;
  margin-top: 1.5rem;
}
.header_link {
  text-align: center;
  border-bottom: 0.1px solid var(--Grayish-Violet);
  padding-bottom: 1rem;
}
.header_link2 {
  margin-top: 0.5rem;
  text-align: center;
}
.header_link2 button {
  border: none;
  border-radius: 5rem;
  padding: 0.2rem 0rem 0.2rem 0rem;
  width: 13rem;
  background-color: var(--cyan);
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}
.header_link2 button a {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

/* ==================== */
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 340px;
  top: 3;
  right: 0;
  background-color: var(--Dark-Violet);
  overflow-x: hidden;
  transition: 0.3s;
  border-radius: 0.7rem;
  margin-right: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.sidepanel a {
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
}
.closebtn {
  margin-left: 18rem;
}
.closeDiv {
  margin-top: -2rem;
  position: absolute;
}
.closeDiv img {
  width: 1.3rem;
}
.openDiv {
  position: absolute;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: green;
  border: none;
  margin-left: 18rem;
}

.openbtn:hover {
  background-color: orange;
}

/* body section */
.illustration-working {
  margin-top: 1rem;
}
.illustration-working img {
  width: 90%;
  margin-left: 1rem;
}

.mainText {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--Dark-Violet);
}

.subText {
  color: var(--Grayish-Violet);
  text-align: center;
  width: 90%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.mainBtn {
  border: none;
  border-radius: 5rem;
  padding: 0.8rem 0rem 0.8rem 0rem;
  width: 11rem;
  background-color: var(--cyan);
  margin-top: 1rem;
  text-align: center;
  margin-left: 5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.mainBtn button {
  color: white;
  border: none;
  background-color: var(--cyan);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

/* section 2 */
.section2 {
    background-color: ghostwhite;
    margin-top: 10rem;
    height: 25rem;
    width: 100%;
    padding-top: 2rem;
}
/* form section */
.form_container {
  position: absolute;
  margin-top: -6rem;
  background-color: var(--Very-Dark-Violet);
  background-image: url(./images/bg-shorten-mobile.svg);
  width: 90%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 0.7rem;
}

.form input {
  height: 3.2rem;
  border: none;
  padding-left: 0.4rem;
  font-weight: bold;
  border-radius: 0.4rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input::placeholder {
  color: var(--Grayish-Violet);
}

.form_text {
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 0rem 0.8rem 0rem;
  background-color: var(--cyan);
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_text p {
  font-size: 1rem;
  font-weight: bold;
}
.form_text input {
  color: white;
  border: none;
  background-color: var(--cyan);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

/* statisics section */
.statistics{
    margin-top: 8rem;
}
.statistics h2 {
    color: var(--Dark-Violet);
    text-align: center;
}

.statistics p {
    text-align: center;
    color: var(--Grayish-Violet);
    margin-top: 1rem;
}








/* ================================================= */

@media (min-width: 768px) {

  /* header section */
  .headerContainer {
    margin-top: 2rem;
    margin-left: 6rem;
    display: flex;
    flex-direction: row;
  }

  .header_link {
    display: flex;
    margin-left: 3rem;
    margin-top: 1.7rem;
    border-bottom: none;
  }

  .header_link a {
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
    color: var(--Grayish-Violet);
  }

  .header_link2 {
    display: flex;
    margin-left: 24rem;
    margin-top: 0.8rem;
  }

  .header_link2 a {
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
    color: var(--Grayish-Violet);
  }

  .header_link2 p {
    margin-top: 1.2rem;
    margin-right: 1rem;
  }

  .header_link2 button {
    margin-top: 20px;
    height: 2.5rem;
    width: 7rem;
  }
  .header_link2 button a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 0.6rem;
  }

  .sidepanel {
    display: contents;
  }

  .openbtn {
    display: none;
  }
  .closebtn {
    display: none;
  }


  /* body section */
  .bodyContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
    margin-left: 7.6rem;
  }

  .illustration-working img {
    width: 40rem;
  }

  .mainText {
    font-size: 3rem;
    text-align: start;
  }

  .subText {
    width: 80%;
    text-align: start;
    margin-left: -0.1rem;
    margin-top: -0.5rem;
    font-size: 1.2rem;
  }

  .mainBtn {
    margin-left: -0.2rem;
  }
  .mainBtn p {
    font-size: 1.2rem;
  }


  /* form section */
  .form_container {
    width: 82%;
    margin-left: 7rem;
    display: flex;
    flex-direction: row;
    background-image: url(./images/bg-shorten-desktop.svg);
  }

  .form input {
    width: 48rem;
    height: 4rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-left: -1rem;
  }

  .form_text {
    height: 4rem;
    width: 12rem;
    margin-top: -4rem;
    margin-left: 50rem;
  }

  .form_text input {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  /* statistics section */
  .statistics{
    margin-top: 9rem;
}
.statistics h2 {
    font-size: 2.5rem;
}
.statistics_text{
    width: 38%;
    text-align: center;
    margin: auto;
}
.statistics p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.1rem;
}
}
